<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="styles.css"></link>
<head>
<title>Bike Models</title>
</head>
<header>
	<h1>Model Reviews</h1>
</header>
<body>
	<div class="container">
		<!-- <ul id="liststyle1">
				<li th:each="bikemodelList:${bikeModel}"> <br>
					<a th:href="@{/singleReview(id=${bikeModelList.id})}"
							th:text="${bikeModelList.name}"></a>
							
		<li th:each="brands:${brand}">
			
		
		</ul> -->
		
		<div>
			<ul th:each="bikemodelList:${bikeModel}">
				<li th:text="${bikemodelList.name}"></li>		
			</ul>
		
		</div>
		
		
		<!-- <br> <a th:href="@{/allbikebrands(id=${brandAsCollection})}">Click
			&lt;to&gt; go back to all the Bike Brands</a> -->
	</div>
</body>
<footer>Road Bike Reviews Copyright 2017</footer>
</html>