<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="styles.css"></link>
<head>
<title>Bike Models</title>
</head>
<header>
	<h1>Bike Reviews</h1>
</header>
<body>
	<div class="container">
		<ul id="liststyle">
		<h3> These are the best Bike Models: </h3>
			<h2 th:text="${brand.name}"></h2>
			<li th:each="currentBikeModel:${brand.brand}">
			<img class="images1" th:src="${currentBikeModel.imageURL}" /> <br>
				<button class="button">
					<a th:href="@{/singleReview(id=${currentBikeModel.id})}"
						th:text="${currentBikeModel.name}"></a>
				</button> </br></li>
		</ul>
		<br> <a th:href="@{/bikebrandss(id=${brandsAsCollection})}">Click
			&lt;to&gt; go back to all the Bike Brands</a></br>
	</div>
</body>
<footer>Road Bike Reviews Copyright 2017</footer>
</html>